.education {
    margin: 0 1em;
}

.education h2 {
    font-size: 2em;
}

.educationsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.educationCard {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background: linear-gradient(to bottom, #3f51b5, #2196f3);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    /* padding: 20px 20px 50px; */
    /* padding-bottom: 50px; */
    position: relative;
}

.educationCard:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.educationCard h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
}

.educationCard p {
    font-size: .85em;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0 20px;
}

.educationCard a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2196f3; /* set the background color to the same as the bottom color of the gradient */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.educationCard a:hover {
    background-color: #1e88e5; /* set a darker shade of the background color on hover */
}

@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
